# swap files
*.sw?

# Object files
*.o
*.elf
*.hex

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Data
*.dat
*.nmea

# tags
tags

# stash
*.stash

# Qt build products / generated source files
moc_*.h
moc_*.cpp
ui_*.h
